document.querySelectorAll('.option-<%= @post.id %>').forEach((heart) => {
  heart.classList.remove('card-option-button')
  const currentVoteStatus = (<%=@vote_count%> > <%=@other_vote_count%>) ? 'win' : ((<%=@vote_count%> == <%=@other_vote_count%>) ? 'tie' : 'lose');
  const otherVoteStatus = (<%=@vote_count%> > <%=@other_vote_count%>) ? 'lose' : ((<%=@vote_count%> == <%=@other_vote_count%>) ? 'tie' : 'win');
  if (heart.dataset.optionId === "<%= @post_vote.post_option.id %>"){
      heart.classList.add(`card-${currentVoteStatus}-result-button`);
      heart.parentNode.parentNode.querySelector('.opt').classList.add(`border-${currentVoteStatus}`);
      heart.classList.add('flip-in-hor-bottom');
      heart.innerHTML = "<%= @vote_count %> <%="vote".pluralize(@vote_count)%>";
   } else {
    heart.classList.add(`card-${otherVoteStatus}-result-button`);
    heart.parentNode.parentNode.querySelector('.opt').classList.add(`border-${otherVoteStatus}`);
    heart.classList.add('flip-in-hor-bottom');
    heart.innerHTML = "<%= @other_vote_count %> <%="vote".pluralize(@other_vote_count)%>";
  }
});

document.querySelectorAll('.card-option-<%=@post_option.id%>').forEach((option) => {
  option.insertAdjacentHTML('beforeend','<div class="choice-button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 20C15.5225 20 20 15.5229 20 10C20 4.47705 15.5225 0 10 0C4.47754 0 0 4.47705 0 10C0 15.5229 4.47754 20 10 20ZM9.08496 15.4216L16.7529 6.65845L15.2471 5.34155L8.91504 12.5784L4.66895 8.75684L3.33105 10.2434L9.08496 15.4216Z" fill="#FFFFFF" /></svg></div>' );
})

  <% if @post_vote.errors.any? %>
    myAlert = document.createElement('div');
    myAlert.innerHTML = '<div class="alert-card"><%= @post_vote.errors.messages[:post_option].first %></div>';
    myAlert.classList.add('alert-box');

    myAlert.classList.add('fade-in');


    setTimeout(function() {
      myAlert.classList.add('shake-horizontal');
    }, 150);

        setTimeout(function() {
      myAlert.classList.add('disappear');
    }, 1200);


    myAlert.setAttribute('id', 'alert');

    myAlert.addEventListener('click', (event) => {
      event.currentTarget.parentNode.removeChild(event.currentTarget);
    })
    document.getElementById('js-errors').innerHTML = "";
    document.getElementById('js-errors').appendChild(myAlert);

  <% end %>
