<%#= @post_vote.post_option.post_votes.count %>
document.querySelectorAll('.option-<%= @post.id %>').forEach((heart) => {
  heart.classList.remove('card-option-button');
  if (heart.dataset.optionId === "<%= @post_vote.post_option.id %>"){
      heart.classList.add(`card-${(<%=@vote_count%> > <%=@other_vote_count%>) ? 'win' : 'lose'}-result-button`);
      heart.innerHTML = "<%= @vote_count %> <%="vote".pluralize(@vote_count)%>";
   } else {
    heart.classList.add(`card-${(<%=@vote_count%> > <%=@other_vote_count%>) ? 'lose' : 'win'}-result-button`);
    heart.innerHTML = "<%= @other_vote_count %> <%="vote".pluralize(@other_vote_count)%>";
  }
});


  <% if @post_vote.errors.any? %>
    myAlert = document.createElement('div');
    myAlert.innerHTML = '<div class="alert-card">You have already voted!<i class="fas fa-window-close close-alert"></i></div>';
    myAlert.classList.add('alert-box');
    myAlert.setAttribute('id', 'alert');

    myAlert.addEventListener('click', (event) => {
      event.currentTarget.parentNode.removeChild(event.currentTarget);
    })
    document.getElementById('js-errors').innerHTML = "";
    document.getElementById('js-errors').appendChild(myAlert);

  <% end %>
