<div class="card-index-texts">
  <% post.post_options.each_with_index do |option, index| %>
    <% if index == 0 %>
      <div class="col-6" style="padding-right: 10px;">
        <div class="card-option" id="vote-<%= option.id %>">
          <div class="card-option-text">
            <%= link_to post_path(post) do %>
              <div class="option-text" style="background-color: white"><%= option.content %></div>
            <% end %>
          </div>
            <%= link_to post_post_option_post_votes_path(post, option), method: :post do %>
              <div class="card-option-button">
                <i class="fas fa-heart vote-heart"></i>
              </div>
            <% end %>
        </div>
      </div>
    <% else %>
      <div class="col-6" style="padding-left: 10px;">
        <div class="card-option" id="vote-<%= option.id %>">
          <div class="card-option-text">
            <%= link_to post_path(post) do %>
              <div class="option-text" style="background-color: white"><%= option.content %></div>
            <% end %>
          </div>
            <%= link_to post_post_option_post_votes_path(post, option), method: :post do %>
              <div class="card-option-button">
                <i class="fas fa-heart vote-heart"></i>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
