
<div class="user-info-container">
  <img src="https://picsum.photos/200" alt="" class="avatar">
  <div class="user-details">
    <div class="username"><%= current_user.username %></div>
    <div class="user-rank">Rank - Pickle Guru</div>
    <div class="user-bio">Born in Russia, Raised in the UK 🇷🇺 🇬🇧</div>
  </div>
</div>

<div class="container">
  <div class="dash-title">
    Your Pickles
  </div>
  <% @posts.each do |post| %>
    <% if post.user_id == current_user.id %>
        <div class="row">
          <div class="col">
            <% post.categories.each do |category| %>
            <div class="card-dash" style="background-color: <%= category.color %>">
            <% end %>
              <div class="card-stats">
                <div class="card-votes">
                  <% if post.post_options.exists? %>
                    <p><%= post.post_votes.count %> votes</p>
                  <% else %>
                    <p>No votes yet</p>
                 <% end %>
                </div>

                <div class="dash-category-buttons">
                 <% post.categories.each do |category| %>
                  <%= link_to posts_path(category: category.id) do %>
                    <div class="small-button-fill-dash category" style="background-color: <%= category.color %> ">
                      <%= category.name %>
                    </div>
                    <% end %>
                  <% end %>
                </div>

                <div class="card-date">
                  <p><%=  time_ago_in_words(post.created_at).gsub('about', '') %> ago</p>
                </div>
              </div>
              <div class="card-line"></div>
              <%= link_to post_path(post) do %>
              <div class="card-dash-info">
                <div>
                  <div class="card-title">
                    <%= post.title %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>





