<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for(@post) do |f| %>
        <% if @post.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :title, label: "What's your pickle?"  %>
        <%= f.input :description,label: 'Describe it'  %>
        <%= f.input :kind, label: 'What kind of post is this?', :collection => %w[photo text], include_blank: false, input_html: { id: 'dropdown'} %>

        <%= f.simple_fields_for :post_options do |p| %>
          <%= p.input :content, :as => :string, label: 'Option' %>
          <%= p.input :image, label: 'Option' %>
          <%= p.input :image_cache, as: :hidden %>
        <% end %>

          <!-- <h6>Choose category</h6> -->
          <div class="form-group">
            <label class="control-label check_boxes optional">Choose Categories</label>
            <input type="hidden" name="post[category_ids][]" value="">
            <div class="category-choices">

              <% Category.all.each do |category| %>

                <input type="checkbox" class="hidden" value="<%= category.id %>" name="post[category_ids][]" id="post_category_ids_<%= category.id %>">
                <label class = "category-choice" for="post_category_ids_<%= category.id %>">
                  <%= category.name %>
                  <i class="fa fa-check"></i>
                </label>
              <% end %>
             </div>
          </div>
          <%= f.submit "Share" %>
      <% end %>
    </div>
  </div>
</div>


