<div class="container">
  <% @posts.each do |post| %>
  <%= link_to post_path(post), class: "" do  %>
  <div class="row">
    <div class="col">
      <div class="card-index">
        <div class="card-index-info">
          <div class="card-title">
            <%= post.title %>
          </div>
          <div class="card-index-cta">
            <div class="card-username"> <p>@<%= current_user.username %></p></div>
            <div class="card-readmore small-button "> <p> Read more </p></div>
          </div>
        </div>
        <div class="card-index-category-bar">
          <% post.categories.each do |category| %>
            <div class="small-button-fill category-button" style="background-color: <%= category.color %>">
              <%= category.name %>
            </div>
          <% end %>
        </div>
        <% if post.kind == "photo" %>
          <div class="card-index-images">
          <% post.post_options.each_with_index do |option, index| %>
            <% if index == 0 %>
                <div class="col-6" style="padding-right: 10px;">
                  <div class="card-option">
                    <div class="card-option-image">
                      <%= link_to post_post_option_post_votes_path(post, option), method: :post do %>
                      <div class="option-image" style="background-image: url('<%= cl_image_path option.image.url %>');"> </div>
                      <% end %>

                    </div>
                    <div class="card-option-button">
                        <% post.post_options.each do |option| %>
                          <%= link_to option.content, post_post_option_post_votes_path(post, option), method: :post %>
                        <% end %>
                    </div>
                  </div>
              </div>
            <% else %>
                <div class="col-6" style="padding-left: 10px;">
                  <div class="card-option">
                    <div class="card-option-image">
                      <%= link_to post_post_option_post_votes_path(post, option), method: :post do %>
                      <div class="option-image" style="background-image: url('<%= cl_image_path option.image.url %>');"> </div>
                      <% end %>

                    </div>
                    <div class="card-option-button">
                        <% post.post_options.each do |option| %>
                          <%= link_to option.content, post_post_option_post_votes_path(post, option), method: :post %>
                        <% end %>
                    </div>
                  </div>
              </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar-line"></div>
  <% end %>
  <% end %>
</div>
