<div class="container">
  <% @posts.each do |post| %>
  <%= link_to post_path(post), class: "" do  %>
  <div class="row">
    <div class="col">
      <div class="card-index">
        <div class="card-index-info">
          <div class="card-title">
            <%= post.title %>
          </div>
          <div class="card-index-cta">
            <div class="card-username"> <p>@<%= current_user.username %></p></div>
            <div class="card-readmore small-button "> <p> Read more </p></div>
          </div>
        </div>
        <div class="card-index-category-bar">
          <% post.categories.each do |category| %>
            <div class="small-button-fill category-button" style="background-color: <%= category.color %>">
              <%= category.name %>
            </div>
          <% end %>
        </div>
        <% if post.kind == "photo" %>
          <%= render 'shared/index-photo-card', post: post %>
        <% else %>
          <%= render 'shared/index-text-card', post: post %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar-line"></div>
  <% end %>
  <% end %>
</div>



