<div class="container">
  <div class="row">
    <div class="col-md-6 offset-sm-4">
      <h1>Browse the Posts</h1>
        <% @categories.each do |category| %>
          <%= link_to category.name, posts_path(category: category.id), class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'all posts', posts_path, class: 'btn btn-primary' %>
      <br>
        <% @posts.each do |post| %>
            <h3><%= link_to post.title, post_path(post)%></h3>
            <p><%= post.description %></p>
            <%= link_to "Delete", post_path(post),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
        <% end %>
        <br>
        <p><%= link_to "+ Add a new Post",  new_post_path, class: "btn btn-success"%></p>
    </div>
  </div>
</div>
