<div class="container">
  <% @posts.each do |post| %>
  <%= link_to post_path(post), class: "" do  %>
  <div class="row">
    <div class="col">
      <div class="card-index">
        <div class="card-index-info card-post-extra">
          <div class="card-title">
            <%= post.title %>
          </div>
          <div class="card-index-cta">
            <div class="card-username"> <p>@<%= post.user.email.split("@").first %></p></div>
            <div class="card-cta-wrap">
              <div class="card-readmore small-button "> <p> Read more </p></div>
              <div class="card-category small-button-fill"> <p> <%= post.user.email.split("@").first %> </p></div>
            </div>
          </div>
        </div>
        <div class="card-index-images">
          <div class="card-option">
            <div class="card-option-image">
            </div>
            <div class="card-option-button">
            </div>
            <div class="card-option-image">
              <% if post.kind == "photo" %>
                <% post.post_options.each do |option| %>
                  <%= link_to post_post_option_post_votes_path(post, option), method: :post do %>
                    <%= cl_image_tag option.image.url(:showsmall) %>
                  <% end %>
                <% end %>
              <% else %>
                <% post.post_options.each do |option| %>
                  <%= link_to option.content, post_post_option_post_votes_path(post, option), method: :post %>
                <% end %>
              <% end %>
            </div>
            <div class="card-option-button">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-line"></div>
  <% end %>
  <% end %>
</div>
