<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pickled</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
<% if category_id =  params[:category] || @post&.categories&.first&.id  %>
  <% selected_category = Category.find(category_id) %>
  <body style="background-color:<%=selected_category.color %>">
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/bottom-buttons' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
<% else %>
  <body style="background-color:#EBEBEB">
    <%# render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/bottom-buttons' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
<% end %>

</html>
